@use "../tools/mixins" as mx;

:where(input,button,textarea,select) {
  color: var(--color-text-black);
}

.site-form {
  display: grid;
  grid-auto-flow: row;
  gap: var(--size-2);
  margin-block: var(--size-9);

  hr {
    margin-block: var(--size-1);

    &::after {
      line-height: var(--font-lineheight-00);
    }
  }
}

#honey {
  @include mx.do-not-display;
}

.form-group {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--size-2);

  input,
  textarea {
    grid-column: 2 / span 2;
  }
}

.form-group--submit {
  button {
    grid-column: 2;

  }
}

