// Margin helpers
.margin-none {
  margin: 0;
}

.margin-block-none {
  margin-block: 0;
}

.margin-inline-none {
  margin-inline: 0;
}

.margin-sml {
  margin: var(--size-2);
}

.margin-block-sml {
  margin-block: var(--size-2);
}

.margin-block-start-sml {
  margin-block-start: var(--size-2);
}

.margin-block-end-sml {
  margin-block-end: var(--size-2);
}

.margin-inline-sml {
  margin-inline: var(--size-2);
}

.margin-md {
  margin: var(--size-3);
}

.margin-block-md {
  margin-block: var(--size-3);
}

.margin-block-start-md {
  margin-block-start: var(--size-3);
}

.margin-block-end-md {
  margin-block-end: var(--size-3);
}

.margin-inline-md {
  margin-inline: var(--size-3);
}

.margin-lg {
  margin: var(--size-5);
}

.margin-block-lg {
  margin-block: var(--size-5);
}

.margin-inline-lg {
  margin-inline: var(--size-5);
}

.margin-block-start-lg {
  margin-block-start: var(--size-5);
}

.margin-inline-start-lg {
  margin-inline-end: var(--size-5);
}

.margin-block-end-lg {
  margin-block-end: var(--size-5);
}

.margin-inline-end-lg {
  margin-inline-end: var(--size-5);
}

// Padding helpers
.padding-none {
  margin: 0;
}

.padding-block-none {
  margin-block: 0;
}

.padding-inline-none {
  margin-inline: 0;
}

.padding-sml {
  margin: var(--size-2);
}

.padding-block-sml {
  margin-block: var(--size-2);
}

.padding-inline-sml {
  margin-inline: var(--size-2);
}

.padding-md {
  margin: var(--size-3);
}

.padding-block-md {
  margin-block: var(--size-3);
}

.padding-inline-md {
  margin-inline: var(--size-3);
}

.padding-lg {
  margin: var(--size-5);
}

.padding-block-lg {
  margin-block: var(--size-5);
}

.padding-inline-lg {
  margin-inline: var(--size-5);
}

.padding-block-start-lg {
  margin-block-start: var(--size-5);
}

.padding-inline-start-lg {
  margin-inline-end: var(--size-5);
}

.padding-block-end-lg {
  margin-block-end: var(--size-5);
}

.padding-inline-end-lg {
  margin-inline-end: var(--size-5);
}
