@use "../tools/px-to-rem" as ptr;
@use "../tools/respond-to" as rt;

.open-mobile {
  position: relative;

  .index-nav {
    visibility: visible;
    opacity: 1;
    position: absolute;
    display: grid;
    grid-template-areas:
      ". . index-nav ."
    ;
    grid-template-columns: 1.5rem 12ch auto 1rem;
    align-items: center;
    max-height: 75vh;
  }

  .index-nav--content {
    position: relative;
    z-index: 100;
    grid-area: index-nav;
    overflow-y: scroll;
    max-height: 75vh;

    .margin-block-lg {
      margin-block: var(--size-2) !important
    }

    hr {
      margin-block: var(--size-fluid-1);

      &.left {
        &::after {
          font-size: var(--font-size-4);
        }
      }
    }
    
    .single-meta-button {
      padding-block: var(--size-1);
    }
  }

  .header-main__inner {
    min-block-size: unset;
  }
}

.index-nav {
  visibility: hidden;
  display: none;
  opacity: 0;
  position: initial;

  h2 {
    max-inline-size: var(--size-header-3);
    margin-block-start: 0.75rem;
  }
}

@include rt.respond-to('medium') {
  .index-nav {
    visibility: visible;
    opacity: 1;
    position: sticky;
    top: 0;
    display: block;
  }

  .open-mobile {
    .index-nav {
      visibility: visible;
      opacity: 1;
      position: initial;
      display: block;
    }
  }
}

.index-nav--list {
  margin-block: 1rem;
  padding: 0;
  list-style: none;

  a {
    display: block;
    padding-inline: calc(var(--size-1)*2);
    padding-block: calc(var(--size-1)*1.25);
    margin-inline: 0;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }

    &.index-nav--list-item--link--active {
      position: relative;
      color: var( --color-brand-white);

      &::before {
        content: '';
        position: absolute;
        left: calc(var(--size-1) * -1);
        top: 0;
        height: 100%;
        border-color: var( --color-brand-white);
        border-width: calc(var(--size-1) / 2);
        border-style: solid;        
        border-radius: calc(var(--size-1) / 2);
      }
    }
  }

  li {
    margin: 0;
    padding-inline: 0;
    font-size: var(--font-size-fluid-00);
    line-height: var(--font-lineheight-2);

    li {
        padding-inline-start: 1rem;

      li {
          padding-inline-start: 1.5rem;

        li {
            padding-inline-start: 2rem;
        }
      }
    }
  }
  
  ul {
    margin-block: 0.25rem;
    margin-block-end: 0.75rem;
  }

  &>li {
    margin-block-end: 1px;
  }
}

.index-nav--list-item {
  max-inline-size: unset;
}

.index-nav--list-item--active {
  &:has(.index-nav--list-item--active) {
    > a {
      &.index-nav--list-item--link--active {
        position: relative;
        color: var(--color-brand-primary-light);

        &::before {
          border-color: var(--color-brand-primary-light);
        }
      }
    }
  }
}