@use "../tools/respond-to" as rt;

.main-nav {
  margin-block: var(--size-2);
}

.main-nav--list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 0.25rem;
  font-family: var(--font-secondary);
}

.main-nav--list--item-link {
  font-size: var(--font-size-fluid-02);
  margin-block-end: var(--size-2);
}

@include rt.respond-to('medium') {
  .main-nav--list--item-link {
    margin-block-end: unset;
  }
}