@use "../tools/respond-to" as rt;

.site-content--title {
  font-size: var(--font-size-fluid-3);
  max-inline-size: var(--size-header-3);
}

@include rt.respond-to('medium') {
  .site-content--title {
    font-size: var(--font-size-fluid-4);
  }
}

.title-bar--supertitle {
  .single-meta-back {
    &::before {
      position: absolute;
      left: -1.5rem;
    }
  }
}