---
title: Contact
layout: page.njk
date: 2025-02-27T16:27:00Z
eleventyNavigation:
  key: Contact
  parent: Home
  order: 50
showTOC: false
---


{% Markdown %}

Drop me a line by email at hello @ this domain. If you'd rather, you can use the [contact form at the bottom](#contact-form) to send an enquiry and I'll be in touch shortly.{.large}

Or you can use the link below to book a short introductory video call to discuss your context or any questions you have.

[Book an appointment](https://calendar.app.google/82FYHkqV3CJaNwBm9){.single-meta-forward rel="noopener nofollow ugc" target="_blank"}
{.text-center .larger .margin-block-md}

We're mostly available in UK office hours, Monday to Friday.{.margin-block-end-vlg}

Otherwise, you can follow Joe on LinkedIn, or even get in touch there. And you'll also be able to check out his posts about service delivery leadership, too:

{% endMarkdown %}

<style>
  .libutton {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff !important;
    width: 250px;
    height: 32px;
    border-radius: 16px;
    background-color: #0A66C2;
    font-family: "SF Pro Text", Helvetica, sans-serif;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    transition-property: background-color, box-shadow, color;
  }
  .libutton:hover {
    background-color: #004182;
  }
</style>
<p style="display: flex; justify-content: center;" class="margin-block-start-lg margin-block-end-vlg"><a class="libutton" href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=joesb" target="_blank">Follow me on LinkedIn</a></p>

<hr />

<h2 id="contact-form" class="margin-block-lg">Contact form</h2>


<form method="POST" action="/api/submit" class="site-form contact-form">

  <div class="form-group form-group--input">
    <label for="i-fullname">Your name</label>
    <input id="i-fullname" type="text" name="fullname" pattern="[A-Za-z ]+" required />
  </div>

  <div class="form-group form-group--input">
    <label for="i-email">Email address</label>
    <input id="i-email" type="email" name="email" required />
  </div>

  <label id="honey" for="contact-name">Contact name
      <input type="text" id="contact-name" name="contact-name">
  </label>

  <hr />

  <div class="form-group form-group--input margin-block-start-md">
    <label for="i-subject">Subject</label>
    <input id="i-subject" type="text" name="subject" required />
  </div>

  <div class="form-group form-group--input">
    <label for="i-message">Your message</label>
    <textarea id="i-message" name="message" required rows="5" cols="33"></textarea>
  </div>

  <div class="form-group form-group--submit">
    <button type="submit">Submit</button>
  </div>
</form>