---
permalink: /indexnow.sh
layout:
eleventyExcludeFromCollections: true
excludeURLs:
  - /podcast/hire/
---
curl -i -X POST https://api.indexnow.org/IndexNow \
  -H "Content-Type: application/json; charset=utf-8" \
  -d '{
    "host": "helios360.co.uk",
    "key":"44ce983d229a4af5bc3794403478dc39",
    "keyLocation": "https://helios360.co.uk/44ce983d229a4af5bc3794403478dc39.txt",
    "urlList": [{% for page in collections.all | excludePages(excludeURLs) | sortByDate(false) | reverse %}{% if page.data.pending !== true %}
      "{{ page.url | url | absoluteUrl(metadata.url) }}"{% if not loop.last %},{% endif %}{% endif %}{% endfor %}
    ]
  }'