@use "sass:color";

/* SCSS HEX */
$color-icterine-hex: #FFFC67;
$color-viridian-hex: #66DFC7;
$color-ming-hex: #66A2DE;
$color-victoria-hex: #7C66DF;
$color-affair-hex: #CB66DF;

/* SCSS RGBA */
$color-icterine-rgba: rgba(255, 252, 103, 1);
$color-viridian-rgba: rgba(102, 223, 199, 1);
$color-ming-rgba: rgba(102, 162, 222, 1);
$color-victoria-rgba: rgba(124, 102, 223, 1);
$color-affair-rgba: rgba(203, 102, 223, 1);

/* General site colors */
$color-white: rgba(255, 255, 255, 1);
$color-white-transparent: rgba(255, 255, 255, 0.66);
$color-white-darker: color.adjust($color-white, $lightness: -67%);
$color-black: rgba(0, 0, 0, 1);

$color-grey: color.adjust($color-black, $lightness: 10%);

$color-grey-darkish: color.adjust($color-grey, $lightness: -5%);
$color-grey-darker: color.adjust($color-grey, $lightness: -10%);
$color-grey-dark: color.adjust($color-grey, $lightness: -20%);
$color-grey-darkest: color.adjust($color-grey, $lightness: -30%);
$color-grey-lightish: color.adjust($color-grey, $lightness: 2%);
$color-grey-lighter: color.adjust($color-grey, $lightness: 10%);
$color-grey-light: color.adjust($color-grey, $lightness: 20%);

// Variants
$color-icterine-rgba-lighter: color.adjust($color-icterine-rgba, $lightness: 15%);
$color-icterine-rgba-darker: color.adjust($color-icterine-rgba, $lightness: -15%);
$color-ming-rgba-lighter: color.adjust($color-ming-rgba, $lightness: 15%);
$color-ming-rgba-darker: color.adjust($color-ming-rgba, $lightness: -15%);