---
meta:
  site:
    name: Helios360
    description: Management and Business Consulting for Client Services and Gen-AI Service Delivery
    url: https://helios360.co.uk
  image:
    src:
  language: en-GB
---
<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "layouts/components/head.njk" %}

	{% if page.url == "/" %}
		{% set bodyClass = "home" %} 
	{% else %}
		{% set bodyClass = "not-home" %}
	{% endif %}
	<body class="{{ bodyClass }}">
		{% if env.isProd %}
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VC2GNSD"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		{% endif %}

		{# Header #}
		{% include "layouts/components/site-header.njk" %}

		{# Main content #}
		{% include "layouts/components/site-main.njk" %}

		{# Footer #}
		{% include "layouts/components/site-footer.njk" %}
	</body>
	<!-- Google Analytics -->
	<!-- End Google Analytics -->
</html>
