---
layout: base.njk
image:
  social: ./content/public/images/pexels-stephane-hurbe-1267753-21913865.jpg
  widths: [300, 620, 1200]
page:
  classes:
    - home-content
    - content-canvas
---


      {% if showTitle != false and primary != true %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}

      {% if showContent != false %}
        {% if jumbotron %}
          {% include "layouts/components/jumbotron.njk" %}
        {% endif %}

        {{ content | safe }}
      {% endif %}


{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}