---
layout: base.njk
image:
  social: ./content/public/images/pexels-stephane-hurbe-1267753-21913865.jpg
  widths: [300, 620, 1200]
page:
  classes:
    - content-canvas
    - page
    - type-page
showNav: true
navOptions:
  listElement: "ul"
  listItemElement: "li"
  listClass: "index-nav--list"
  listItemClass: "index-nav--list-item"
  listItemHasChildrenClass: "index-nav--list-item--has-children"
  listParentItemClass: "index-nav--list-item--parent"
  activeListItemClass: "index-nav--list-item--active"
  activeParentListItemClass: "index-nav--list-item--active--parent"
  activeAnchorClass: "index-nav--list-item--link--active"
  activeKey: eleventyNavigation.key
  anchorClass: "index-nav--item--link"
metadata:
  show: false
  readingTime: true
---


      {% if showTitle != false and primary != true %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}

      {% if pending %}

				{% if image.path %}
					<figure class="{{ image.figureClass }}">
					{% image image.path, image.alt, image.class, image.pictureClass %}
					{% if image.caption %}
					<figcaption>{{ image.caption | safe }}{% if image.credit %} {{ image.credit | safe }}{% endif %}</figcaption>
					{% endif %}
					</figure>
				{% endif %}

				{% if jumbotron %}
				{% include "layouts/components/jumbotron.njk" %}
				{% endif %}

			{% include "layouts/components/page-item-pending.njk" %}

			{% else %}

      {% if showContent != false %}
        {% if jumbotron %}
          {% include "layouts/components/jumbotron.njk" %}
        {% endif %}

      {% if metadata.show %}
      <div class="metadata page__metadata">
        <div class="metadata__info">
          {% if metadata.readingTime !== false %}
          <span class="metadata__reading-time">{{ content | timeToRead }} read</span>
          <span class="metadata__divider divider"></span>
          {% endif %}
          {% set pageUri %}{{ page.url }}?referrer=bsky.app{% endset %}
          {% set pageURL %}{{ pageUri | url | absoluteUrl(env.prodUrl) }}{% endset %}
          {% set pageTitle %}‘{{ title }}’{% endset %}
          {% set encodable = ["I'm reading", pageTitle, "on Helios 360:", pageURL] %}
          <span class="metadata__share_item"><a href="https://bsky.app/intent/compose?text={{ encodable | join(' ') | encodeUri }}" class="bluesky" target="_blank" rel="nofollow ugc noopener" title="Share to Bluesky"><span class="visually-hidden">Share to Bluesky</span></a></span>
        </div>
      </div>
		  {% endif %}
        
        {{ content | safe }}
      {% endif %}

      {% endif %}

      {% if showNav %}
      <div class="site-content content-canvas-item-full-right content-canvas-item-right--span-3 content-canvas-span-start-content-top index-nav">

			  {% include "layouts/components/index-nav.njk" %}

		  </div>
      {% endif %}


{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}