---
layout: base.njk
image:
  social: ./content/public/images/pexels-stephane-hurbe-1267753-21913865.jpg
  widths: [300, 620, 1200]
page:
  classes:
    - content-canvas
    - page
    - type-page
showNav: true
type: post
navOptions:
  listElement: "ul"
  listItemElement: "li"
  listClass: "index-nav--list"
  listItemClass: "index-nav--list-item"
  listItemHasChildrenClass: "index-nav--list-item--has-children"
  listParentItemClass: "index-nav--list-item--parent"
  activeListItemClass: "index-nav--list-item--active"
  activeParentListItemClass: "index-nav--list-item--active--parent"
  activeAnchorClass: "index-nav--list-item--link--active"
  activeKey: eleventyNavigation.key
  anchorClass: "index-nav--item--link"
pagemeta:
  show: false
  readingTime: true
meta:
  author:
    name: Joe Baker
eleventyComputed:
  meta:
    author:
      name: "{{ metadata.author.name }}"
    published: "{{ date | iso8601 }}"
    modified: "{% if changed %}{{ changed | iso8601 }}{% endif %}"
---


      {% if showTitle != false and primary != true %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}

      {% if pending %}

				{% if image.path %}
					<figure class="{{ image.figureClass }}">
					{% image image.path, image.alt, image.class, image.pictureClass %}
					{% if image.caption %}
					<figcaption>{{ image.caption | safe }}{% if image.credit %} {{ image.credit | safe }}{% endif %}</figcaption>
					{% endif %}
					</figure>
				{% endif %}

				{% if jumbotron %}
				{% include "layouts/components/jumbotron.njk" %}
				{% endif %}

			{% include "layouts/components/page-item-pending.njk" %}

			{% else %}

        {% if showContent != false %}
          {% if jumbotron %}
            {% include "layouts/components/jumbotron.njk" %}
          {% endif %}

          {% if showTOC != false %}
          {% set tocContent = content | toc %}
          {% if tocContent | length %}
          <aside>
            <h2 class="h3-style">Covered here:</h2>
            {{ tocContent | safe }}
          </aside>
          {% endif %}
          {% endif %}

          {% if pagemeta.show %}
          {% include "layouts/components/page-metadata.njk" %}
          {% endif %}

          {{ content | safe }}
        {% endif %}

      {% endif %}

      {% if showNav %}
      <div class="site-content content-canvas-item-full-right content-canvas-item-right--span-3 content-canvas-span-start-content-top index-nav">

			  {% include "layouts/components/index-nav.njk" %}

		  </div>
      {% endif %}


{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}