---
layout: base.njk
primary: true
image:
  social: ./content/public/images/pexels-stephane-hurbe-1267753-21913865.jpg
  widths: [300, 620, 760]
  widthsLarge: [300, 620, 1200]
  sizes: "100vw"
  figClasses:
    - content-canvas-item-wide-left-more
    - margin-block-vlg
  beforeJT: true
showNav: true
listAllDescriptions: true
indexListType: standard
paginationContentID: pg-section
type: page
navOptions:
  listElement: "ul"
  listItemElement: "li"
  listClass: "index-nav--list"
  listItemClass: "index-nav--list-item"
  listItemHasChildrenClass: "index-nav--list-item--has-children"
  listParentItemClass: "index-nav--list-item--parent"
  activeListItemClass: "index-nav--list-item--active"
  activeParentListItemClass: "index-nav--list-item--active--parent"
  activeAnchorClass: "index-nav--list-item--link--active"
  activeKey: eleventyNavigation.key
  anchorClass: "index-nav--item--link"
pagemeta:
  show: false
  readingTime: false
---
  
    <article class="site-content{% if page.classes %} {{ page.classes | join(" ") }}{% endif %} content-canvas section type-section">

			{% if eleventyNavigation %}
			{% include "layouts/components/page-breadcrumb.njk" %}
			{% endif %}

      {% if showTitle != false %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}
        
      {% if pending %}

          {% if image.path and image.beforeJT %}
            {% ImgFigure image.caption, image.figClasses %}![{{ image.alt }}]({{ image.path }}){.image-rounded eleventy:widths="{{ image.widths }}" eleventy:formats="webp,jpg"}{% endImgFigure %}
          {% endif %}

          {% if jumbotron %}
            {% include "layouts/components/jumbotron.njk" %}
          {% endif %}

          {% if image.path and image.beforeJT === false %}
            {% ImgFigure image.caption, image.figClasses %}![{{ image.alt }}]({{ image.path }}){.image-rounded eleventy:widths="{{ image.widths }}" eleventy:formats="webp,jpg"}{% endImgFigure %}
          {% endif %}

			{% include "layouts/components/page-item-pending.njk" %}

			{% else %}
				
          {% if image.path and image.beforeJT %}
            {% ImgFigure image.caption, image.figClasses %}![{{ image.alt }}]({{ image.path }}){.image-rounded eleventy:widths="{{ image.widths }}" eleventy:formats="webp,jpg"}{% endImgFigure %}
          {% endif %}

          {% if jumbotron %}
            {% include "layouts/components/jumbotron.njk" %}
          {% endif %}

          {% if image.path and image.beforeJT === false %}
            {% ImgFigure image.caption, image.figClasses %}![{{ image.alt }}]({{ image.path }}){.image-rounded eleventy:widths="{{ image.widths }}" eleventy:formats="webp,jpg"}{% endImgFigure %}
          {% endif %}

        {% if pagemeta.show %}
        {% include "layouts/components/page-metadata.njk" %}
        {% endif %}
        
        {{ content | safe }}
      
      {% endif %}

      {% if showNav %}
      <div class="site-content content-canvas-item-full-right content-canvas-item-right--span-4 content-canvas-span-start-content-top index-nav">

			  {% include "layouts/components/index-nav.njk" %}

		  </div>
      {% endif %}

    </article>

    {% if listSource %}
    {% set items = utilities.getCollectionByName(collections, listSource) %}
    {% endif %}

    {% if pagination.data or items.length %}
    <aside class="site-content content-canvas" {% if paginationContentID %} id="{{ paginationContentID }}"{% endif %}>
      {% if listTitle %}
      <hr>

      <h2 class="content-canvas-item-wide">{{ listTitle }}</h2>

      {% endif %}
      <div class="content-canvas-item-wide">
      {% if indexListType %}
        {% if indexListType == "simple" %}
      {% include "layouts/components/index-list-simple.njk" %}
        {% elif indexListType == "podcast" %}
      {% include "layouts/components/index-list-podcast.njk" %}
        {% else %}
      {% include "layouts/components/index-list.njk" %}
        {% endif %}

      {% endif %}
      </div>
    </aside>
    {% endif %}

{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}