---
layout: base.njk
primary: true
image:
  social: ./content/public/images/pexels-stephane-hurbe-1267753-21913865.jpg
  widths: [300, 620, 1200]
  widthsSmall: [300, 620]
showNav: true
navOptions:
  listElement: "ul"
  listItemElement: "li"
  listClass: "index-nav--list"
  listItemClass: "index-nav--list-item"
  listItemHasChildrenClass: "index-nav--list-item--has-children"
  listParentItemClass: "index-nav--list-item--parent"
  activeListItemClass: "index-nav--list-item--active"
  activeParentListItemClass: "index-nav--list-item--active--parent"
  activeAnchorClass: "index-nav--list-item--link--active"
  activeKey: eleventyNavigation.key
  anchorClass: "index-nav--item--link"
showMetadata: false
---
    
    <div class="site-content{% if page.classes %} {{ page.classes | join(" ") }}{% endif %} content-canvas type-section">

      {% if showTitle != false %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}
        
      {% if pending %}

				{% if image.path %}
					<figure class="{{ image.figureClass }}">
					{% image image.path, image.alt, image.class, image.pictureClass %}
					{% if image.caption %}
					<figcaption>{{ image.caption | safe }}{% if image.credit %} {{ image.credit | safe }}{% endif %}</figcaption>
					{% endif %}
					</figure>
				{% endif %}

				{% if jumbotron %}
				{% include "layouts/components/jumbotron.njk" %}
				{% endif %}

			{% include "layouts/components/page-item-pending.njk" %}

			{% else %}

				{% if jumbotron %}
				{% include "layouts/components/jumbotron.njk" %}
				{% endif %}
        
        {{ content | safe }}
      
      {% endif %}

      {% if showNav %}
      <div class="site-content content-canvas-item-full-right content-canvas-item-right--span-3 content-canvas-span-start-content-top index-nav">

			  {% include "layouts/components/index-nav.njk" %}

		  </div>
      {% endif %}

    </div>

    
    <div class="site-content content-canvas">
      <div class="content-canvas-item-wide">
        {% if indexListType and indexListType == "simple" %}
      {% include "layouts/components/index-list-simple.njk" %}
        {% else %}
      {% include "layouts/components/index-list.njk" %}
        {% endif %}
      </div>
    </div>

{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}
