<head>
  {% if env.isProd %}
    <!-- Analytics & Tag Manager -->
    {% include "layouts/components/google-tagmanager.njk" %}
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% set siteName = [ metadata.org, metadata.title, metadata.subtitle] %}
  <title>{{ pageTitle or title or siteName | join(" ") }} | {{ siteName | join(" ") }}</title>

  <!-- structured data -->
  {% jsonLdScript meta, type, tags %}

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png" type="image/png">
  <link rel="icon" href="/public/favicon/favicon.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/public/favicon/favicon-16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/public/favicon/favicon-32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="/public/favicon/favicon-64.png" type="image/png" sizes="64x64">
  <link rel="icon" href="/public/favicon/favicon-192.png" type="image/png" sizes="192x192">
  <link rel="icon" href="/public/favicon/favicon-256.png" type="image/png" sizes="256x256">
  <link rel="manifest" href="/site.webmanifest">

  {% if metadesc or description %}
  <meta name="description" content="{{ description or metadesc }}" />
  {% endif %}

  {% if page.url == "/" %}
  <link rel="alternate" type="application/atom+xml" title="{{ metadata.title }}" href="{{ '/feed.xml' | url | absoluteUrl(env.baseUrl) }}">
  {% endif %}

  {# Google Fonts #}
  {% include "layouts/components/head-google-fonts.njk" %}
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  {% if isHome %}
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  {% endif %}
  
  {# OpenProps #}
  <link rel="stylesheet" href="//unpkg.com/open-props" />
  <link rel="stylesheet" href="//unpkg.com/open-props/normalize.light.min.css" />
  <link rel="stylesheet" href="//unpkg.com/open-props/buttons.light.min.css" />
  {# Styles #}
  {% set css %}
    {% include "assets/css/styles.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  {% if styles %}
    {% for style in styles %}
      {% set include_style %}assets/css/{{ style }}{% endset %}
      {% set include_css %}
        {% include include_style %}
      {% endset %}
    <style>{{ include_css | cssmin | safe }}</style>
    {% endfor %}
  {% endif %}
  {# <!-- Pagefind CSS --> #}
  {# <link href="/pagefind/pagefind-ui.css" rel="stylesheet"> #}

  {% set js %}
    {% include "assets/js/inline.js" %}
    {# {% include "static/js/site.js" %} #}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

  {% if scripts %}
  {% for script in scripts %}
    {% set include_script %}assets/js/{{ script }}{% endset %}
      {% set include_js %}
        {% include include_script %}
      {% endset %}
    <script>{{ include_js | jsmin | safe }}</script>
  {% endfor %}
  {% endif %}

  {# <!-- Pagefind JS --> #}
  {# <script src="/pagefind/pagefind-ui.js"></script> #}

  {% include "layouts/components/head-social-cards.njk" %}

  <link rel="canonical" href="{% if canonical %}{{ canonical }}{% else %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endif %}" />
  
  {% if noIndex %}
  <meta name="robots" content="noindex">
  {% endif %}
</head>