<head>
  {% if env.isProd %}
    <!-- Analytics & Tag Manager -->
    {% include "layouts/components/google-tagmanager.njk" %}
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% set siteName = [ metadata.org, metadata.title, metadata.subtitle] %}
  <title>{{ pageTitle or title or siteName | join(" ") }}</title>

  <!-- structured data -->
  {% jsonLdScript meta, type, tags %}

  <!-- meta -->
  <meta name="author" itemprop="author" content="{{ metadata.author.name }}">
  <meta name="description" itemprop="description" content="{{ description }}">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png" type="image/png">
  <link rel="icon" href="/public/favicon/favicon.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/public/favicon/favicon-16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/public/favicon/favicon-32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="/public/favicon/favicon-64.png" type="image/png" sizes="64x64">
  <link rel="icon" href="/public/favicon/favicon-96.png" type="image/png" sizes="96x96">
  <link rel="icon" href="/public/favicon/favicon-192.png" type="image/png" sizes="192x192">
  <link rel="icon" href="/public/favicon/favicon-256.png" type="image/png" sizes="256x256">
  <link rel="manifest" href="/site.webmanifest">

  {% if page.url == "/" %}
  <link rel="alternate" type="application/atom+xml" title="{{ metadata.title }}" href="{{ '/feed.xml' | url | absoluteUrl(env.baseUrl) }}">
  {% endif %}

  {# Google Fonts #}
  {% include "layouts/components/head-google-fonts.njk" %}
  
  {# OpenProps #}
  <link rel="preload" href="//unpkg.com/open-props@1.7.13/open-props.min.css" as="style" fetchPriority="low" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="//unpkg.com/open-props@1.7.13/normalize.light.min.css" as="style" fetchPriority="low" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="//unpkg.com/open-props@1.7.13/buttons.light.min.css" as="style" fetchPriority="low" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="//unpkg.com/open-props@1.7.13/open-props.min.css" />
    <link rel="stylesheet" href="//unpkg.com/open-props@1.7.13/normalize.light.min.css" />
    <link rel="stylesheet" href="//unpkg.com/open-props@1.7.13/buttons.light.min.css" />
  </noscript>
  {# Styles #}
  {% set css %}
    {% include "assets/css/styles.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  {% if styles %}
    {% for style in styles %}
      {% set include_style %}assets/css/{{ style }}{% endset %}
      {% set include_css %}
        {% include include_style %}
      {% endset %}
    <style>{{ include_css | cssmin | safe }}</style>
    {% endfor %}
  {% endif %}
  {# <!-- Pagefind CSS --> #}
  {# <link href="/pagefind/pagefind-ui.css" rel="stylesheet"> #}

  
  {# <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> #}
  {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> #}
  {% set js %}
    {# {% include "assets/js/inline.js" %} #}
    {% include "assets/js/nav.js" %}
    {# {% include "static/js/site.js" %} #}
  {% endset %}
  <script defer>{{ js | jsmin | safe }}</script>
  {# <!-- Pagefind JS --> #}
  {# <script src="/pagefind/pagefind-ui.js"></script> #}

  {% include "layouts/components/head-social-cards.njk" %}

  <link rel="canonical" href="{% if canonical %}{{ canonical }}{% else %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endif %}" />
  
  {% if noIndex %}
  <meta name="robots" content="noindex">
  {% endif %}
</head>