<div class="index-nav--content" data-pagefind-ignore>
  {% set navPages = collections.all | eleventyNavigation('Home') %}
  {# {{ navPages | debug | safe }} #}
  {% for entry in navPages %}
  {# {{ entry.key | debug | safe }} #}
  {% if entry.key == eleventyNavigation.root and title != entry.title %}
  {# {{ entry | debug | safe }} #}
  <h2 class="index-nav--title h3-style">
    <a href="{{ entry.url }}" class="index-nav--title--link">{{ entry.title }}</a></h2>
  {% endif %}
  {% endfor %}
  <nav role="navigation" aria-label="In this section">
    <div class="bold">In this section</div>
    {% set navPages = collections.all | eleventyNavigation(eleventyNavigation.root) %}
    {# {{ navPages | debug | safe }} #}
    {% macro renderNavListItem(entry, depth, index = 1) %}
    {% if entry.hide != true %}
    <{{ navOptions.listItemElement }} class="{% if navOptions.listItemClass%}{{ navOptions.listItemClass }}{% endif %}{% if entry.children.length !== 0 and navOptions.listItemHasChildrenClass%} {{ navOptions.listItemHasChildrenClass }} {{ navOptions.listParentItemClass }}--level-{{ depth }}{% endif %}{% activepath entry.url, page.url, navOptions.activeListItemClass, ' ' %}">
      <a href="{{ entry.url }}" class="{% activepath entry.url, page.url, navOptions.activeAnchorClass %}">{% if eleventyNavigation.root == "Handbook" and depth == 1 %}{{ index | padNumber(2, "0") }}. {% endif %}{{ entry.title }}</a>
      {% if entry.children.length !== 0 %}
        {% if utilities.activePath(entry.url, page.url) %}
      <{{ navOptions.listElement }}{% if navOptions.listClass%} class="{{ navOptions.listClass }}"{% endif %}>
        {% for child in entry.children %}
        {% set depth = depth + 1 %}
        {{ renderNavListItem(child, depth, loop.index) }}
        {% endfor %}
      </{{ navOptions.listElement }}>
        {% else %}
        <span class="down-arrow"></span>
        {% endif %}
      {% endif %}
    </{{ navOptions.listItemElement }}>
    {% endif %}
    {% endmacro %}

    {# {% set navPages = collections.all | eleventyNavigation() %} #}
    {% if navOptions %}
    <div {% if navOptions.listClass%} class="{{ navOptions.listClass }}--container"{% endif %}>
      <{{ navOptions.listElement }}{% if navOptions.listClass%} class="{{ navOptions.listClass }}"{% endif %}>
      {% for entry in navPages %}
      {% set depth = 1 %}
      {{ renderNavListItem(entry, depth, loop.index) }}
      {% endfor %}
      </{{ navOptions.listElement }}>
    </div>
  {% endif%}
  </nav>


  <div class="margin-block-lg">
    <hr class="left">

    {% Markdown %}
    [Book a call](https://calendar.app.google/82FYHkqV3CJaNwBm9){.single-meta-forward .single-meta-button .single-meta-forward-button rel="noopener nofollow" target="_blank"}
    {.padding-inline-start-md}
    {% endMarkdown %}
  </div>
  {% if type == "episode" %}
  <div class="margin-block-lg podcast-recent">
    <hr class="left">

    <h2 class="h3-style">Recent episodes</h2>
    {% set podItems = utilities.podcastWithoutCurrent(collections, page.url) %}
    {% if podItems | length %}
    <ul class="bare-list">
      {% for podItem in podItems %}
      {% if loop.index0 < 3 %}
      <li class="faux-block-link-parent faux-block-link-text-only padding-block-end-sml">
        <a href="{{ podItem.url | url }}" aria-label="{{ podItem.data.title }}"><p class="smaller margin-block-start-sml margin-block-end-none">{{ podItem.data.number | padNumber(3, "0") }} | {{ podItem.data.title }}</p></a>
        {# METADATA #}
        <div class="item-meta">
          <time class="item-date" datetime="{{ podItem.date | readableDate("yyyy-LL-dd") }}">{{ podItem.date | readableDate("dd/LL/yyyy") }}</time>
          <span class="divider"></span>
          <span class="item-duration">{{ podItem.data.duration }}</span>
        </div>
        <a href="{{ podItem.url | url }}" class="faux-block-link" aria-label="{{ podItem.data.title }}"></a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endif %}
</div>