<nav role="navigation" aria-label="Main navigation">
  <div class="main-nav">

  {# {% if navKey %} #}
    {% set navPages = collections.all | eleventyNavigation %}
    
    {% if navPages.length %}
    {% for navPage in navPages %}
      {# {% if navPage.key == navKey %} #}
      <ul class="main-nav--list uppercase letter-spacing-1px">
        {# {% if navPage.url != page.url %}
        <li><a href="{{ navPage.url }}" class="main-nav--list--item-link">Home</a></li>
        {% endif %} #}
      {% for item in navPage.children %}
        {% if not item.hide %}
        <li><a href="{{ item.url }}" class="main-nav--list--item-link{% activepath item.url, page.url, 'current', ' ' %}">{{ item.key }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
      {# {% endif %} #}
    {% endfor %}
    {% endif %}
  {# {% endif %} #}

  </div>
</nav>