{% Note "content-note-info", "yes" %}

{{ "## PENDING" | markdown | safe }}
{% set pageTitle = title %}
{% if supertitle %}
  {% set pageTitle = [supertitle, pageTitle] | join(": ") %}
{% endif %}

{% if subtitle %}
  {% set pageTitle = [pageTitle, subtitle] | join(" — ") %}
{% endif %}


{{ ["The <em>", pageTitle, "</em> page is forthcoming."] | join | markdown | safe }}

{{ "This is a work in progress. Apologies that this page isn't ready quite yet.

It'll be here right soon. Pinky promise." | markdown | safe }}

{% endNote %}
