<footer class="footer-main content-canvas">
  <div class="footer-main__inner content-canvas-item-wide">
    <div class="footer-main__logo">
      {% if page.url !== '/' %}<a href="{{ '/' | url }}" class="site-logo">
          <div class="h2-style visually-hidden">{{ meta.title }}
          {% if meta.subtitle %}{{ meta.subtitle }}{% endif %}
          </div>
        </a>
      {% else %}
      <span class="site-logo">
        <div class="h2-style visually-hidden">{{ meta.title }}
        {% if meta.subtitle %}{{ meta.subtitle }}{% endif %}</div>
      </span>
      {% endif %}
    </div>

    <div class="footer-main__links footer__nav">
      {% if meta.footer_links.length %}
      <ul class="footer-main__links--list">
        {% for link in meta.footer_links %}
        <li class="footer-main__links--list-item"><a href="{{ link.url }}"{% if link.external %} target="_blank" rel="noreferrer"{% endif %}>{{ link.label }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if meta.social_site.length %}
      <ul class="footer-main__links--list footer-main--social-sites">
        {% for item in meta.social_site %}
        <li class="footer-main__links--list-item"><a href="{{ item.url }}" class="social-sites--item" target="_blank" rel="noreferrer noopener">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</footer>
