<footer class="footer-main content-canvas">
  <div class="footer-main__inner content-canvas-item-wide">
    <div class="footer-main__logo">
      {% if page.url !== '/' %}<a href="{{ '/' | url }}" class="site-logo">
          <div class="h2-style visually-hidden">{{ metadata.title }}
          {% if metadata.subtitle %}{{ metadata.subtitle }}{% endif %}
          </div>
        </a>
      {% else %}
      <span class="site-logo">
        <div class="h2-style visually-hidden">{{ metadata.title }}
        {% if metadata.subtitle %}{{ metadata.subtitle }}{% endif %}</div>
      </span>
      {% endif %}
    </div>

    <nav class="footer-main__links footer__nav" role="navigation" aria-label="Footer navigation">
      {% set navPages = collections.all | eleventyNavigation %}
      {% if navPages.length %}
      {% for navPage in navPages %}
      <ul class="footer-main__links--list">
        {% for link in navPage.children %}
        {% if link.footer %}
        <li class="footer-main__links--list-item"><a href="{{ link.url }}">{{ link.key }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
      {% endif %}
      {% if metadata.social_site.length %}
      <ul class="footer-main--social-sites inline-list">
        {% for item in metadata.social_site %}
        <li class="footer-main--social-sites--list-item"><a href="{{ item.url }}" class="social-icon {{ item.machine_name }}" target="_blank" rel="noreferrer noopener"><span class="hide-text">{{ item.name }}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </nav>
  </div>

  {% if env.isProd %}
  <div class="footer-main__badges content-canvas-item-wide">
    <div id="wcb" class="carbonbadge wcb-d"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
  </div>
  {% endif %}
</footer>
