    <header role="banner" class="header-main content-canvas">
      <div class="header-main__inner content-canvas-item-wide">
        <div class="header-main__logo">
          {% if page.url !== '/' %}<a href="{{ '/' | url }}" class="site-logo" title="{{ metadata.title }}">
            <picture>
              <source type="image/webp" srcset="/public/images/logo-02-sml.webp 220w" sizes="auto">
              <img decoding="async" src="/public/images/logo-02-sml.webp" alt="Helios360 logo" class="site-logo-image" width="110" height="129" srcset="/public/images/logo-02-sml.webp 220w" sizes="auto" loading="eager" eleventy:ignore>
            </picture>
            <div class="h2-style visually-hidden">
              {{ metadata.title }}
              {% if metadata.subtitle %}
              <div class="h2-style not-bold">{{ metadata.subtitle }}</div>
              {% endif %}
            </div>
          </a>
          {% else %}
          <span class="site-logo" title="{{ metadata.title }}">
            <picture>
              <source type="image/webp" srcset="/public/images/logo-02-sml.webp 110w" sizes="auto">
              <img decoding="async" src="/public/images/logo-02-sml.webp" alt="Helios360 logo" class="site-logo-image" width="164" height="192" srcset="/public/images/logo-02-sml.webp 110w" sizes="auto" loading="eager" eleventy:ignore>
            </picture>
            <div class="h2-style visually-hidden">
              {{ metadata.title }}
              {% if metadata.subtitle %}
              <div class="h2-style not-bold">{{ metadata.subtitle }}</div>
              {% endif %}
            </div>
          </span>
          {% endif %}
        </div>
        <div class="header-main__nav" id="main-navigation">
          {% include "layouts/components/nav.njk" %}
          {% include "layouts/components/nav-contact.njk" %}
        </div>

        {% set navPages = collections.all | eleventyNavigation %}
        {% if navPages.length %}
        <button class="header-main__menu" aria-expanded="false" aria-controls="main-navigation" href="#main-navigation" id="hamburger">
          <a class="css-nav css-nav--open visually-hidden" href="#main-navigation" aria-label="Open menu">Open</a>
          <a class="css-nav css-nav--close visually-hidden" href="#" aria-label="Close menu">Close</a>
          <div class="header-main__menu__text closed-text visually-hidden" aria-label="Open menu">Menu</div>
          <div class="header-main__menu__text open-text visually-hidden" aria-label="Close menu">Close</div>
          <div class="header-main__menu__burger">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </button>
        {% endif %}
      </div>
    </header>