<div class="title-bar{% if showIcon and pagelink.icon_class %} icon-base--before {{ pagelink.icon_class }}{% endif %}{% if page.titleClasses %} {{ page.titleClasses | join(" ") }}{% endif %}{% if page.classes.length and 'page--with-hero' in page.classes %}{% else %} content-canvas-item-wide-left{% endif %}">
  
  {% if supertitle %}
    <div class="h3-style not-bold title-bar--supertitle">{% if supertitleLinkBack %}<a href="{{ supertitleLinkBack }}" class="single-meta-back single-meta-item-black single-meta-item-black-bg single-meta-item-circle">{{ supertitle | safe }}</a>{% else %}{{ supertitle | safe }}{% endif %}</div>
  {% endif %}
  <h1 class="title-bar--title site-content--title" data-pagefind-meta="title">{{ title }}</h1>

</div>