@use "tools/px-to-rem" as ptr;
@use "tools/respond-to" as rt;

.home {
  grid-template-rows: 60vh auto auto;

  .header-main__logo {
    padding-block: var(--size-5);
  }

  .site-logo {
    justify-content: center;

    &::before {
      background-position-x: center;
      width: clamp(6rem, 50vw, 100vw);
      height: clamp(6rem, 33vh, 50vh);
    }
  }

  .footer-main__logo {
    .site-logo {
      &::before {
        width: ptr.px-to-rem(108px);
        height: ptr.px-to-rem(108px);
      }
    }
  }
  
  &.open-mobile {

    .header-main__logo {
      padding-block: var(--size-3);
    }

    .site-logo {
      justify-content: left;

      &::before {
        background-position-x: left;
        width: clamp(ptr.px-to-rem(216px), 50vw, ptr.px-to-rem(324px));
        height: clamp(ptr.px-to-rem(72px), 30vh, ptr.px-to-rem(144px));
      }
    }
  }

  .jumbotron {
    min-height: 40vh;

    // :where(p) {
    //   font-size: var(--font-size-fluid-2);
    // }
  }
}