@use "tools/px-to-rem" as ptr;
@use "tools/respond-to" as rt;

.home {
  grid-template-rows: ptr.px-to-rem(324px) auto auto;
  position: relative;

  @include rt.respond-to('small') {
    grid-template-rows: ptr.px-to-rem(350px) auto auto;
  }

  @include rt.respond-to('medium') {
    grid-template-rows: minmax(40vh, 50vh) auto auto;
  }

  .header-main__logo {
    padding-block: var(--size-5);
  }

  .site-logo {
    justify-content: center;
  }

  .site-logo-image {
    width: clamp(ptr.px-to-rem(80px), 40vw, ptr.px-to-rem(185px));
    height: auto;
  }

  .footer-main__logo {
    .site-logo {
      &::before {
        width: ptr.px-to-rem(108px);
        height: ptr.px-to-rem(108px);
      }
    }
  }
  
  &.open-mobile {

    .header-main__logo {
      padding-block: var(--size-3);
    }

    .site-logo {
      justify-content: left;

      &::before {
        background-position-x: left;
        width: clamp(ptr.px-to-rem(216px), 50vw, ptr.px-to-rem(324px));
        height: clamp(ptr.px-to-rem(72px), 30vh, ptr.px-to-rem(144px));
      }
    }
  
    .site-logo-image {
      width: clamp(ptr.px-to-rem(80px), 30vw, ptr.px-to-rem(110px));
    }
  }
  .site-content--title {
    font-size: var(--font-size-fluid-2);
    font-weight: var(--font-weight-medium);
    max-inline-size: var(--size-header-3);
    margin-block: 1rem;
    text-transform: lowercase;
    font-family: var(--font-headings);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .jumbotron {
    margin-block-start: 0;
    min-height: ptr.px-to-rem(594px);
    max-height: 60vh;

    :where(p) {
      font-size: var(--font-size-fluid-02);
      line-height: var(--font-lineheight-3);
    }
  }
}

.home-content {
  > * {
    z-index: 1;
  }
}

.eclipse {
  display: none;
}

@include rt.respond-to('medium') {
  .eclipse {
    position: fixed;
    top: calc(52vh - 7.5rem);
    right: 2vw;
    z-index: 0;
    width: 15rem;
    height: 15rem;
    display: grid;
    align-items: center;

    &::after {
      display: block;
      content: " ";
      background-image: url("/public/images/eclipse.jpg");
      background-size: contain;
      width: clamp(5rem, 30vw, 20rem);
      height: clamp(5rem, 30vw, 20rem);
    }
  }
}

@include rt.respond-to('large') {
    .eclipse {
      right: 7.5vw;
    }
}